<h1>edit sub</h1>

<form action="<%= subs_url %>" method="post">
  <%= auth_token_input %>
  <input type="hidden" name="_method" value="patch">

  <label>title
    <input type="text" name="sub[title]" value="<%= @sub.title %>">
  </label>
  <label>description
    <input type="text" name="sub[description]" value="<%= @sub.description %>">
  </label>
  <input type="submit" value="edit sub">
</form>
